torch==2.1.1
torchvision==0.16.1
hydra-core
diffusers
torchaudio
tqdm
submitit
h5py
robosuite
matplotlib
numpy<2
imageio[ffmpeg]
oculus_reader@git+https://github.com/rail-berkeley/oculus_reader.git
wandb
